.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.item img {
	height: 100vh;
	width: 100%;
}



/*
///////////////////////////////////////////////////
Responsive Part 
///////////////////////////////////////////////////
*/

@media only screen and (min-width: 844px) {
    .desktop-d-n {
        display: none;
    }
}

/*Mobile Version*/

@media only screen and (max-width: 844px) {
    .mobile-d-n {
        display: none;
    }